.MyRecipes h1 {
    color: white;
    /* margin: auto 0 50px 43%; */

    text-align: center;
    font-style: italic;
    font-family: 'PT Serif',serif;
}

.noRecipe {
    color: white;
    font-size: 50px;
    text-align: center;
    font-style: italic;
    font-family: 'PT Serif',serif;

}