.createComment{
    margin-top: 60px;
    margin-right: 40px;
    position: relative;
    text-align: center;
    width: 700px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: content-box;
     
}
.createComment label{
    color: white;
    font-style: italic;
    font-family: 'PT Serif',serif;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.comment {
    border-radius: 20px;
    height: auto;
    text-align: center;
    box-sizing:content-box;

}
.textBox{
    width: 300px;
    height: 100px;
}

.btnSubmit{
    font-style: italic;
    font-family: 'PT Serif',serif;
    font-size: medium;
    background-color: #cf370991;
    color: white;
    transition: 0.5s;
}

.btnSubmit:hover{
    cursor: pointer;
    box-shadow: none;
    
}