.categoryImg {
    width: 200px ;
    height: 150px;
    border-radius: 20px
}

.categoryName{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    position: relative;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing:content-box;
    background: #cf370991;
    box-shadow: 14px 14px 30px #464a4e, -14px -14px 30px #464a4e;
    justify-content: center;
    margin-top: 5%;
    margin-left: 40%;
    font-style: italic;
    font-family: 'PT Serif',serif;
}