.currentRecipe {
    color:white;
    display:inline-flex;
    margin-left: 200px;

   
}

.currentRecipe li {
    margin-left: 50px;
    text-align:center;
    width: 200px;
    height: 150px;
    display: inline-block;
    position: relative;
    border-radius: 20px;
    padding: 40px;
    box-sizing:content-box;
    background: #cf370991;
    box-shadow: 14px 14px 30px #464a4e, -14px -14px 30px #464a4e;
    justify-content: center;
    font-style: italic;
    
}

.currentRecipe img {
    width: 200px;
    height: 150px;
    border-radius: 20px;
}
